div {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

html {
  line-height: 1.15;
}

.main-background {
  width: 100%;
  height: 500px;
  background-image: url(../img/shoes.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 1px;
  padding-left: 10px;
  position: relative;
  /* filter: brightness(70%); */
}

.main-title {
  color: white;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin-top: 200px;
}

.sales {
  color: white;
  text-align: center;
  font-size: 16px;
  font-weight: regular;
}

.main-button {
  background: white;
  padding: 15px;
  border-color: #eee;
  border-width: 1px;
  position: absolute;
  bottom: 100px;
  left: 0;
  right: 0;
  margin: auto;
  width: 150px;
}

.sub-content {
  width: 68%;
  max-width: 600px;
  padding: 15px;
  text-align: center;
  background: #eee;
  position: relative;
  top: -50px;
  margin: auto;
}

.text-input {
  padding: 10px;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 5px;
}
